{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "^react(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@/pages",
        "^@/components",
        "^@/hooks",
        "^@/icons",
        "^[./]",
        ".*\\.(css|scss|less|sass)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
